{% comment %}
  Renders product media in various different layouts, depending on the settings in the section.

  Accepts:
    - id: {String} The instance id (required)
    - section_id: The section ID (optional)
    - type: {String} The type of media layout eg. slider, thumbnails (required)
    - product: {Object} The product object (required)
    - section: {Object} The section object (required)
    - device: {String} The device type eg. desktop, mobile (required)
    - has_pagination: {Boolean} Whether to show pagination (optional)
    - enable_peep: {Boolean} Whether to enable peep (optional)
    - is_quick_view: {Boolean} Whether the media is being rendered in quick view (optional)
    - change_variant_based_on_thumbnail: {Boolean} Whether to change the variant based on the thumbnail (optional)
  
  Usage:
    {% render product_media with id: 'product-media', product: product, section: section, device: 'mobile', has_pagination: true, enable_peep: true %}
{% endcomment %}

{{ 'component-product-media.min.css' | asset_url | stylesheet_tag }}

{% style %}
  {% if device == 'mobile' %}
    @media (max-width: 767px) {
      #{{ id }} {
        visibility: visible;
        height: unset;
      }
    }

    @media (min-width: 768px) {
      #{{ id }} {
        visibility: hidden;
        height: 0;
      }

      #{{ id }} deferred-media {
        display: none;
      }
    }
  {% elsif device == 'desktop' %}
    @media (max-width: 767px) {
      #{{ id }} {
        visibility: hidden;
        height: 0;
      }

      #{{ id }} deferred-media {
        display: none;
      }
    }

    @media (min-width: 768px) {
      #{{ id }} {
        visibility: visible;
        height: unset;
      }
    }
  {% endif %}
{% endstyle %}

{% liquid 
  assign image_crop = section.settings.image_shape

  if is_quick_view
    assign image_crop = 'adapt_to_first_image'
  endif

  unless section_id
    assign section_id = section.id
  endunless

  assign thumbnail_position = section.settings.thumbnail_position
  if device == 'mobile'
    assign thumbnail_position = 'below'
  endif

  assign custom_aspect_ratio = false
  if image_crop != 'original'
    assign custom_aspect_ratio = true
  endif

  if image_crop == 'adapt_to_first_image'
    assign first_image_ratio = product.media.first.preview_image.aspect_ratio
    assign adapt_ratio = 1 | divided_by: first_image_ratio | times: 100
  endif

  assign change_variant_based_on_thumbnail = false
  for block in section.blocks
    case block.type
      when "options"
        if block.settings.thumbnail_changes_variant == true
          assign change_variant_based_on_thumbnail = true
        endif
    endcase
  endfor

  assign enable_video_loop = section.settings.enable_video_loop
  assign enable_autoplay = section.settings.enable_autoplay
  assign show_video_controls = section.settings.show_video_controls

  comment
    Product badges
  endcomment
  assign preorder_string = 'products.product.preorder' | t | downcase
  assign preorder_product = false

  for tag in product.tags
    assign lowercase_tag = tag | downcase
    if lowercase_tag contains preorder_string
      assign preorder_product = true
    endif
    assign lowercase_tag = tag | downcase
    if lowercase_tag contains preorder_string
      assign preorder_product = true
    endif
    if preorder_product == false and tag contains '_badge:'
      assign custom_badge = tag | remove: '_badge:'
    endif
  endfor
%}

<safe-load-scripts class="hidden">
  <script src="{{ 'component-deferred-media.js' | asset_url }}" defer="defer" type="module" data-flow-load-key="deferred-media"></script>
</safe-load-scripts>

<safe-load-scripts class="hidden">
  <script src="{{ 'component-product-media.js' | asset_url }}" defer="defer" type="module" data-flow-load-key="product-media"></script>
</safe-load-scripts>

{% if settings.show_badges %}
  {% capture product_badge %}
    {% if product != blank %}
      {% if product.available %}
        {% if preorder_product %}
          {% render 'badge' with badge: 'preorder', preorder_badge: preorder_string %}
        {% elsif custom_badge %}
          {% render 'badge' with badge: 'custom', custom_badge: custom_badge %}
        {% else %}
          {% render 'badge' with badge: 'sale', badge_product: product, use_variant: true %}
        {% endif %}
      {% else %}
        {% render 'badge' with badge: 'sold-out', badge_product: product %}
      {% endif %}
    {% else %}
      {% render 'badge' with badge: 'sold-out' %}
    {% endif %}
  {% endcapture %}
{% endif %}

<product-media 
  id="{{ id }}"
  data-device="{{ device }}"
  data-image-size="{{ section.settings.image_size }}"
  data-image-cropped="{{ custom_aspect_ratio }}"
  data-section-id="{{ section_id }}"
  data-peep-enabled="{% if device == 'mobile' and enable_peep == true %}true{% else %}false{% endif %}"
  data-pagination-enabled="{% if has_pagination %}true{% else %}false{% endif %}"
  data-thumbnail-position="{{ thumbnail_position }}"
  data-media-type="{{ type }}"
  data-media-count="{{ product.media.size }}"
  data-autoplay-enabled="{% if enable_autoplay %}true{% else %}false{% endif %}"
  data-selected-variant="{{ product.selected_or_first_available_variant | json | escape }}"
  class="product-media-slider product-media-slider-{{ device }} thumbnails-{{ thumbnail_position }} media-type-{{ type }}{% if product.media.size < 2 %} single-media{% endif %}"
  {% if change_variant_based_on_thumbnail %}
    data-change-variant-based-on-thumbnail="true"
  {% endif %}
  data-quick-view="{% if is_quick_view %}true{% else %}false{% endif %}"
>
  {% if product.media.size > 0 %}
    {% comment %} ==== MAIN SLIDER ==== {% endcomment %}
    <div data-media-main data-slider-main class="{% if type == 'thumbnails' %}thumbnail-media--main-media{% else %}product-media-slider-main{% endif %} swiper{% if custom_aspect_ratio %} custom-aspect-ratio{% endif %}{% if product.media.size == 1 %} media--single{% endif %}">
      {% comment %} ==== BADGES ==== {% endcomment %}
      <div data-product-badge>
        {{ product_badge }}
      </div>

      {% comment %} ==== SLIDES ==== {% endcomment %}
      <div class="swiper-wrapper">
        {% for media in product.media %}
          <div 
            class="swiper-slide{% if product.media.size == 1 %} animated fadeIn{% endif %}"
            {%- if product.media.size > 1 -%}
              style="visibility:hidden;"
            {%- endif -%}
            data-media-type="{{ media.media_type }}"
            data-media-id="{{ media.id }}"
            {%- assign found = false -%}
            {%- for option in product.options_with_values -%}
              {%- for value in option.values -%}
                {%- liquid 
                  assign is_combined_listing = false
                  if value.product_url != blank
                    assign is_combined_listing = true
                    assign item_url = value.product_url | append: '?variant=' | append: value.variant.id
                    assign product_url = value.product_url
                  else
                    assign item_url = value.variant.url
                    assign product_url = value.variant.product.url
                  endif
                -%}
                {%- if found == false and value.variant.featured_media.id == media.id -%}
                  data-variant="{{ value.variant | json | escape }}"
                  data-is-combined-listing="{{ is_combined_listing }}"
                  data-product-fetch-url="{{ item_url }}"
                  data-product-url="{{ product_url }}"
                  {%- assign found = true -%}
                {%- endif -%}
              {%- endfor -%}
            {%- endfor -%}
          >
            {% if media.media_type == 'image' %}
              <a 
                data-main-media-link
                href="{{ media.preview_image | image_url: width: 1445 }}"
                data-pswp-width="{{ media.width }}"
                data-pswp-height="{{ media.height }}"
                target="_blank"
                {% if adapt_ratio %}style="padding-bottom: {{ adapt_ratio }}%;"{% endif %}
              >

              <img
                class="theme-img media-ratio--{{ image_crop }}"
                src="{{ media.preview_image | image_url: width: 1445 }}"
                alt="{% if media.alt != product.title %}{{ media.alt }}{% endif %}"
                width="{{ media.width }}"
                height="{{ media.height }}"
                sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
                loading="eager"
              />
            
              </a>
            {% else %}
              {% render 'deferred-media' with delayed_media: media, section_id: section_id, enable_video_loop: enable_video_loop, enable_autoplay: enable_autoplay, media_wrapper_classes: 'product-single__media__wrapper', aspect_ratio: image_crop, media_product: product, media_type: 'slider', show_controls: show_video_controls %}
            {% endif %}

            
            {%- if media.media_type == 'model' -%}
              <div class="button-wrap view-in-space--wrapper">
                <button
                  type="button"
                  aria-label="{{ 'products.product.view_in_space_label' | t }}"
                  class="btn product-medias__view-in-space"
                  data-shopify-xr
                  data-shopify-model3d-id="{{ media.id }}"
                  data-shopify-title="{{ product.title | escape }}"
                  data-shopify-xr-hidden
                >
                  {{ 'products.product.view_in_space' | t }}
                </button>
              </div>
            {%- endif -%}

            {%- if first_3d_model -%}
              <script type="application/json" id="ProductJSON-{{ product.id }}">
                {{ product.media | where: 'media_type', 'model' | json }}
              </script>
            {%- endif -%}

            <script type="application/json" id="ProductJSON-{{ product.id }}">
              {{ product.media | where: 'media_type', 'model' | json }}
            </script>
          </div>
        {% endfor %}
      </div>

      {% comment %} ==== PAGINATION ==== {% endcomment %}
      {% if has_pagination %}
        <div class="media-slider-navigation arrows">
          <a href="#" class="flex-prev arrow-prev-{{ id }}-{{ section_id }} standalone-icon--wrapper">
            {% render 'theme-icon' with icon: 'chevron_left', iconWidth: 24, iconHeight: 24, iconColor: 'currentColor' %}
          </a>

          <div class="swiper-pagination-{{ id }}-{{ section_id }}"></div>

          <a href="#" class="flex-next arrow-next-{{ id }}-{{ section_id }} standalone-icon--wrapper">
            {% render 'theme-icon' with icon: 'chevron_right', iconWidth: 24, iconHeight: 24, iconColor: 'currentColor' %}
          </a>
        </div>
      {% endif %}

      {% if type == 'thumbnails' %}
        <a href="#" class="thumb-prev arrow-prev-{{ id }}-{{ section_id }}">
          {% render 'theme-icon' with icon: 'chevron_left', iconWidth: 24, iconHeight: 24, iconColor: 'currentColor' %}
        </a>

        <a href="#" class="thumb-next arrow-next-{{ id }}-{{ section_id }}">
          {% render 'theme-icon' with icon: 'chevron_right', iconWidth: 24, iconHeight: 24, iconColor: 'currentColor' %}
        </a>
      {% endif %}
    </div>

    {% comment %} ==== THUMBNAILS ==== {% endcomment %}
    {% if type == 'thumbnails' and product.media.size > 1 %}
      <div data-media-thumbnails class="thumbnail-media--thumbnails swiper">
        <div class="swiper-wrapper">
          {% for media in product.media %}
            {% comment %}
              If this media is assigned to any variant that is available, keep showing the thumbnail.
              EVERY variant with this media needs to be unavailable for it to be hidden.
            {% endcomment %}
            {% assign hideThumb = false %}
            {% assign mediaHasVariant = false %}

            {% if hide_out_of_stock_variants %}
              {% assign hideThumb = true %}
              {% for variant in product.variants %}
                {% if variant.featured_media.id == media.id %}
                  {% assign mediaHasVariant = true %}
                  {% if variant.available %}
                    {% assign hideThumb = false %}
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% endif %}

            {% unless hideThumb and mediaHasVariant %}
              <div class="swiper-slide"
                {%- if product.media.size > 1 -%}
                  style="visibility:hidden;"
                {%- endif -%}
              >
                {% if media.media_type == 'model' %}
                  <div class="product-medias__emblem">
                    {% render 'theme-icon' with icon: 'cube', iconSize: 20 %}
                  </div>
                {% elsif media.media_type == 'video' or media.media_type == 'external_video' %}
                  <div class="product-medias__emblem">
                    {% render 'theme-icon' with icon: 'play', iconSize: 20 %}
                  </div>
                {% endif %}

                {% capture props %}
                  data-image-id="{{ media.id }}"
                  data-max-width="{{ media.preview_image.width }}"
                {% endcapture %}

                {% capture styles %}max-width: {{ media.preview_image.width }}px;{% endcapture %}
                {% capture class %}
                  product-medias__thumbnail__image product-medias__thumbnail--{{ media.media_type }} media-ratio--{{ image_crop }}
                {% endcapture %}

                {% capture thumbalt %}
                  {% if media.alt == product.title %}
                    {{ null }}
                  {% elsif media.media_type == 'video' or media.media_type == 'external_video' %}
                    {{ 'products.product.video_thumbnail_alt' | t: imageAlt: media.alt | escape }}
                  {% elsif media.media_type == 'model' %}
                    {{ 'products.product.model_thumbnail_alt' | t: imageAlt: media.alt | escape }}
                  {% else %}
                    {{ media.alt }}
                  {% endif %}
                {% endcapture %}

                {% render 'responsive-image' with media.preview_image, class: class, alt: thumbalt | escape, default_size: '300x', props: props, blur: false, styles: styles, adaptive_ratio: adapt_ratio %}
              </div>
            {% endunless %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
  {% else %}
    {% comment %} ==== BADGES ==== {% endcomment %}
    <div data-product-badge>
    {{ product_badge }}
    </div>
    
    {% comment %} ==== PLACEHOLDER ==== {% endcomment %}
    {% assign svg_classes = 'icon icon--placeholder media-ratio--' | append: image_crop %}
    {{ 'product-1' | append: current | placeholder_svg_tag: svg_classes }}
  {% endif %}
</product-media>